<div id="dashboard">
	<div header></div>
	<div class="oe-dashboard clearfix">
		<div left-bar></div>
		<div class="oe-workfield pull-right">
			<div class="oe-work-body">
				<div class="oe-body-home">
					<h1>在线考试系统</h1>
					<div class="item-btn-area">
						<span class="item-btn">
							<span class="to-exam" ng-click="dashFun.get()"></span>
							<span class="item-shadow"></span>
							<span style="display: block;">参加考试</span>
						</span>
						<span class="item-btn">
							<span class="to-exam"></span>
							<span class="item-shadow"></span>
							<span style="display: block;">考前复习</span>
						</span>
						<span class="item-btn">
							<span class="to-exam"></span>
							<span class="item-shadow"></span>
							<span style="display: block;">考题回顾</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div footer></div>
</div>