<div id="oeLogin" class="oe-login clearfix">
	<div class="oe-login-logo pull-left">
		<div id="loginContent" class="oe-login-content">
			<div class="oe-title">
				<h1>在线考试系统</h1>
			</div>
			<div class="oe-login-panel clearfix">
				<div class="oe-input-group">
					<input type="text" ng-model="data.loginUser"/>
					<span class="oe-icon glyphicon glyphicon-user"></span>
				</div>
				<div class="oe-input-group">
					<input type="password" ng-model="data.loginPassword"/>
					<span class="oe-icon glyphicon glyphicon-eye-open"></span>
				</div>
				<div class="oe-switch pull-right">
					<input id="loginStatusCheck" type="checkbox" checked/>
				</div>
				<div class="oe-btn-area">
					<span class="btn oe-btn-login" ng-click="fn.login()">登录</span>
					<span class="btn oe-btn-regist pull-right" ng-click="fn.toRegist()">注册</span>
				</div>
			</div>
		</div>
		<div id="registContent" class="oe-regist-content" style="display: none;">
			<div class="oe-title">
				<h1>注册</h1>
			</div>
			<div class="oe-regist-panel clearfix">
				<div class="oe-input-group">
					<label>用户名:</label>
					<input type="text" ng-model="data.username" />
					<span class="oe-icon glyphicon glyphicon-star oe-required"></span>
				</div>
				<div class="oe-input-group">
					<label>密码:</label>
					<input type="password" ng-model="data.password" />
					<span class="oe-icon glyphicon glyphicon-star oe-required"></span>
				</div>
				<div class="oe-input-group">
					<label>确认密码:</label>
					<input type="password" ng-model="data.confirm" />
					<span class="oe-icon glyphicon glyphicon-star oe-required"></span>
				</div>
				<div class="oe-switch pull-left" >
					<input id="registStatusCheck" type="checkbox" checked/>
				</div>
				<div class="oe-input-group" style="text-align: right;">
					<input type="checkbox" ng-model="data.aceptRule"/>
					<span class="oe-sys-rule" ng-click="fn.readRule()">《在线考试系统规约》</span>
				</div>
				<div class="oe-btn-area">
					<span class="btn oe-btn-next" ng-click="fn.registNext()">下一步<i class="glyphicon glyphicon-share-alt"></i></span>
				</div>
				<div class="pull-right">
					<span class="oe-attention">注:带<i class="glyphicon glyphicon-star oe-required"></i>为必填项</span>
				</div>
			</div>
			<div class="oe-regist-panel-stu clearfix" style="transform:scale(0,0)">
				<div class="oe-input-group">
					<label>学院:</label>
					<input type="text" ng-model="data.college" />
					<span class="oe-icon glyphicon glyphicon-star oe-required"></span>
				</div>
				<div class="oe-input-group">
					<label>学号:</label>
					<input type="text" ng-model="data.stuNumber" />
					<span class="oe-icon glyphicon glyphicon-star oe-required"></span>
				</div>
				<div class="oe-input-group">
					<label>性别:</label>
					<div class="btn-group" ng-model="data.userSex" bs-radio-group>
						<label class="btn btn-warning"><input type="radio" class="btn btn-default" value="1" />男</label>
						<label class="btn btn-success"><input type="radio" class="btn btn-default" value="0" />女</label>
						<label class="btn btn-danger"><input type="radio" class="btn btn-default" value="2" />保密</label>
					</div>
				</div>
				<div class="oe-btn-area">
					<span class="btn oe-btn-submit" ng-click="fn.registSubmit()">提交<i class="glyphicon glyphicon-open"></i></span>
				</div>
			</div>
			<div class="oe-regist-panel-teach clearfix" style="transform:scale(0,0)">
				<div class="oe-input-group">
					<label>学院:</label>
					<input type="text" ng-model="data.college" />
					<span class="oe-icon glyphicon glyphicon-star oe-required"></span>
				</div>
				<div class="oe-input-group">
					<label>教师编号:</label>
					<input type="text" ng-model="data.teachNumber" />
					<span class="oe-icon glyphicon glyphicon-star oe-required"></span>
				</div>
				<div class="oe-input-group">
					<label>性别:</label>
					<div class="btn-group" ng-model="data.userSex" bs-radio-group>
						<label class="btn btn-warning"><input type="radio" class="btn btn-default" value="1" />男</label>
						<label class="btn btn-success"><input type="radio" class="btn btn-default" value="0" />女</label>
						<label class="btn btn-danger"><input type="radio" class="btn btn-default" value="2" />保密</label>
					</div>
				</div>
				<div class="oe-btn-area">
					<span class="btn oe-btn-submit" ng-click="fn.registSubmit()">提交<i class="glyphicon glyphicon-open"></i></span>
				</div>
			</div>
		</div>
	</div>
</div>