<div id="queryScore">
	<div header></div>
	<div class="oe-dashboard clearfix">
		<div left-bar></div>
		<div class="oe-workfield pull-right">
			<div class="oe-work-body">
				<div class="oe-body-score">
					<div class="subtitle">
						<h1>在线考试系统</h1>
						<h4>——成绩查询</h4>
					</div>
					<div class="oe-score-area">
						<div class="score-search-area">
							<input type="text" ng-model="scoreData.queryNum" placeholder="请输入学生学号" />
							<span class="btn btn-info" ng-click="scoreFun.query()">查询</span>
						</div>
						<div class="oe-score-table">
							<table>
								<thead>
									<tr>
										<th width="10%"></th>
										<th width="15%">学号</th>
										<th width="15%">姓名</th>
										<th width="30%">试卷</th>
										<th width="20%">考试时间</th>
										<th width="10%">考试分数</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="score in scoreData.currentQuery" ng-class="{true:'interval'}[$index%2!=0]">
										<td ng-bind="$index+1"></td>
										<td ng-bind="score.studentNum"></td>
										<td ng-bind="score.stuName"></td>
										<td id="paper" ng-bind="score.paper"></td>
										<td ng-bind="score.examTime | date:'yyyy-MM-dd'"></td>
										<td ng-bind="score.score"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div footer></div>
</div>