<div id="takeExam">
	<div header></div>
	<div class="oe-dashboard clearfix">
		<div left-bar></div>
		<div class="oe-workfield pull-right">
			<div class="oe-work-body clearfix">
				<div class="oe-chose-paper">
					<div class="subtitle">
						<h1>在线考试系统</h1>
						<h4>——参加考试</h4>
					</div>
					<div class="oe-paper-list">
						<div class="list-title">试题列表
							<span class="glyphicon glyphicon-refresh" ng-click="examFun.refresh()"></span>
						</div>
						<div class="list-area" ng-repeat="paper in examData.peperList">
							<span class="glyphicon glyphicon-list-alt"></span>
							<span ng-bind="paper.paperHead"></span>
							<span class="paper-dateline">截至时间:</span>
							<span ng-bind="paper.paperDateline|date:'yyyy-MM-dd'"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div footer></div>
</div>